body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle-image {
    position: relative;
    width: 100px; /* 可以根据需要调整大小 */
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px;
}

.circle-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.buttons-row {
    margin-top: 40px;
    position: relative;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #d47f7f;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.button:active {
    background-color: rgba(60, 163, 109, 0.64);
}

.jsgif {
    display: none;
}
